body { 
font-family: Arial, sans-serif;  
line-height: 1.4;
font-size: 12px;
background: #40474f;
margin: 0;
padding: 0;
}

a { color: #336699; text-decoration: none;}
a:hover { color: #880000; }

h1 {
margin: 0;
padding-left: 50px;
font-weight: 100;
}
h1 a { text-decoration: none; color: #F9F7ED; }
h1 a:hover { border-bottom: 1px solid #F9F7ED; color: #F9F7ED; }

.red {
    color: crimson;
}

table
{
 margin:auto;
 text-align:center;
 width:90%;
 border:1px solid white;
}

td, th
{
 text-align:center;
 vertical-align:middle;
 border:1px solid lightblue;
}

tr
{
 empty-cells:hide;
 border:1px solid white;
}


#wrap { 
width: 1000px;
margin: 20px auto;
}

#header {
background: #40474f url(images/header.jpg) no-repeat;
height: 130px;
line-height: 150px;
}

#menu {
background: #40474f url(images/menu.jpg) no-repeat;
height: 40px;
line-height: 40px;
}

#menu ul {
list-style-type: none;
margin: 0;
padding-left: 40px;
}
#menu ul li {
display: block;
float: left;
}
#menu ul li a {
display: block;
padding: 0 10px 0 10px;
text-decoration: none;
color: #fff;
font-size: 13px;
font-weight: 600;
}
#menu ul li a:hover {
color: #fff;
background: url(images/menuover.png) repeat-x;
}

#contentwrap {
background: #40474f url(images/content.jpg) repeat-y;
padding: 0 30px;
}

#content {
float: left;
width: 620px;
margin-top: 20px;
}
#content h2 {
background: url(images/contenth2.jpg) no-repeat;
margin: 0;
color: #F9F7ED;
height: 40px;
line-height: 40px;
padding: 0 0 0 10px;
font-size: 14px;
}

#content p { padding: 0 10px 10px 10px; color: #232323;}
#content ul { padding: 0 20px 10px 30px; }

#sidebar {
float: right;
margin-top: 20px;
width: 300px;
}

#sidebar h3 {
background: url(images/sidebarh3.jpg) no-repeat;
height: 40px;
line-height: 40px;
font-weight: 600;
font-size: 14px;
margin: 0; padding: 0 0 0 10px; 
color: #F9F7ED;
}

#sidebar p { padding: 0 10px 10px 10px; color: #232323; }

#sidebar ul {
padding: 10px 0 20px 30px;
margin: 0;
}

#sidebar ul li {
padding: 0;
margin: 0;
}

#footer { 
background: #40474f url(images/footer.jpg);
height: 100px;
line-height: 100px;
text-align: center;
color: #fff;
}
#footer p { padding: 0; margin: 0; }
#footer a { color: #fff; }
#footer a:hover { text-decoration: underline; }
