<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated metamodel -->
      <factory
            uri="http://www.example.org/metamodel"
            class="be.cetic.simqri.metamodel.provider.MetamodelItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   
   <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.example.org/metamodel"
            class="be.cetic.simqri.metamodel.providers.MetamodelEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="be.cetic.simqri.metamodel.providers.MetamodelPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

  <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.sirius.diagram.ui"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertyTab
               id="Base"
               label="Base"
               category="default">
         </propertyTab>

      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="be.cetic.simqri.metamodel.parts.forms.ModelPropertiesEditionPartForm"
               filter="be.cetic.simqri.metamodel.providers.ModelPropertiesEditionProvider$EditionFilter"
               id="be.cetic.simqri.metamodel.section.Model"
               tab="Base">
         </propertySection>
         <propertySection
               class="be.cetic.simqri.metamodel.parts.forms.QueryPropertiesEditionPartForm"
               filter="be.cetic.simqri.metamodel.providers.QueryPropertiesEditionProvider$EditionFilter"
               id="be.cetic.simqri.metamodel.section.Query"
               tab="Base">
         </propertySection>
         <propertySection
               class="be.cetic.simqri.metamodel.parts.forms.StoragePropertiesEditionPartForm"
               filter="be.cetic.simqri.metamodel.providers.StoragePropertiesEditionProvider$EditionFilter"
               id="be.cetic.simqri.metamodel.section.Storage"
               tab="Base">
         </propertySection>
         <propertySection
               class="be.cetic.simqri.metamodel.parts.forms.SupplierPropertiesEditionPartForm"
               filter="be.cetic.simqri.metamodel.providers.SupplierPropertiesEditionProvider$EditionFilter"
               id="be.cetic.simqri.metamodel.section.Supplier"
               tab="Base">
         </propertySection>
         <propertySection
               class="be.cetic.simqri.metamodel.parts.forms.BatchProcessPropertiesEditionPartForm"
               filter="be.cetic.simqri.metamodel.providers.BatchProcessPropertiesEditionProvider$EditionFilter"
               id="be.cetic.simqri.metamodel.section.BatchProcess"
               tab="Base">
         </propertySection>
         <propertySection
               class="be.cetic.simqri.metamodel.parts.forms.OutputPropertiesEditionPartForm"
               filter="be.cetic.simqri.metamodel.providers.OutputPropertiesEditionProvider$EditionFilter"
               id="be.cetic.simqri.metamodel.section.Output"
               tab="Base">
         </propertySection>
         <propertySection
               class="be.cetic.simqri.metamodel.parts.forms.StorageOutputFlowPropertiesEditionPartForm"
               filter="be.cetic.simqri.metamodel.providers.StorageOutputFlowPropertiesEditionProvider$EditionFilter"
               id="be.cetic.simqri.metamodel.section.StorageOutputFlow"
               tab="Base">
         </propertySection>
         <propertySection
               class="be.cetic.simqri.metamodel.parts.forms.ProcessOutputFlowPropertiesEditionPartForm"
               filter="be.cetic.simqri.metamodel.providers.ProcessOutputFlowPropertiesEditionProvider$EditionFilter"
               id="be.cetic.simqri.metamodel.section.ProcessOutputFlow"
               tab="Base">
         </propertySection>
         <propertySection
               class="be.cetic.simqri.metamodel.parts.forms.OrderOnStockThresholdPropertiesEditionPartForm"
               filter="be.cetic.simqri.metamodel.providers.OrderOnStockThresholdPropertiesEditionProvider$EditionFilter"
               id="be.cetic.simqri.metamodel.section.OrderOnStockThreshold"
               tab="Base">
         </propertySection>
         <propertySection
               class="be.cetic.simqri.metamodel.parts.forms.ScalarPropertiesEditionPartForm"
               filter="be.cetic.simqri.metamodel.providers.ScalarPropertiesEditionProvider$EditionFilter"
               id="be.cetic.simqri.metamodel.section.Scalar"
               tab="Base">
         </propertySection>
         <propertySection
               class="be.cetic.simqri.metamodel.parts.forms.GaussianPropertiesEditionPartForm"
               filter="be.cetic.simqri.metamodel.providers.GaussianPropertiesEditionProvider$EditionFilter"
               id="be.cetic.simqri.metamodel.section.Gaussian"
               tab="Base">
         </propertySection>
         <propertySection
               class="be.cetic.simqri.metamodel.parts.forms.PoissonPropertiesEditionPartForm"
               filter="be.cetic.simqri.metamodel.providers.PoissonPropertiesEditionProvider$EditionFilter"
               id="be.cetic.simqri.metamodel.section.Poisson"
               tab="Base">
         </propertySection>
         <propertySection
               class="be.cetic.simqri.metamodel.parts.forms.UniformPropertiesEditionPartForm"
               filter="be.cetic.simqri.metamodel.providers.UniformPropertiesEditionProvider$EditionFilter"
               id="be.cetic.simqri.metamodel.section.Uniform"
               tab="Base">
         </propertySection>
         <propertySection
               class="be.cetic.simqri.metamodel.parts.forms.ConveyorBeltPropertiesEditionPartForm"
               filter="be.cetic.simqri.metamodel.providers.ConveyorBeltPropertiesEditionProvider$EditionFilter"
               id="be.cetic.simqri.metamodel.section.ConveyorBelt"
               tab="Base">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
