<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="be.cetic.simqri.design.Activator"
               id="be.cetic.simqri.design"
	       name="simqri">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="be.cetic.simqri.design.Gateway"
           id="gateway">
     </javaActions>
  </extension>
</plugin>
